# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# --- Virtual environments (Poetry) ---
# Poetry usually creates the venv in a central folder,
# but with 'virtualenvs.in-project = true' it uses this one:
.venv/
bin/
lib/
include/
share/

# --- Build & distribution (needed for .whl) ---
# Temporary files and the .whl produced by 'poetry build'
dist/
build/
*.egg-info/
*.whl

# --- Tests (pytest) ---
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover

# --- IDEs ---
.vscode/
.idea/
*.swp
*.swo

# --- Logs & temporary files ---
*.log
.DS_Store

# --- Local test infra and dev notes ---
d_fake_infra/
todo.md
diretrizes.md
